@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #151515;
}

.heading {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: blanchedalmond;
}
.heading__title {
  font-size: 2em;
  text-align: center;
}
.heading__subtitle {
  font-size: 1.5em;
  padding: 5px;
}
.heading__text {
  font-size: 1em;
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.main__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80vw;
}
.main__input, .main__result {
  height: 25vh;
  width: 80vw;
  background-color: cadetblue;
  margin: 10px;
  color: blanchedalmond;
  border: 2px solid blanchedalmond;
  text-align: center;
}
.main__input {
  font-size: 1.5em;
}
.main__result {
  font-size: 1.5em;
  word-wrap: normal;
  word-break: break-all;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn__container {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__btn {
  width: 100px;
  height: 50px;
  background-color: #176325;
  border-radius: 10px;
  font-weight: 400;
  color: blanchedalmond;
  font-size: 1em;
  border: 2px solid blanchedalmond;
}

@media screen and (min-width: 768px) {
  .main__input,
.main__result {
    height: 30vh;
  }
}
@media screen and (min-width: 992px) {
  .main__content {
    flex-direction: row;
  }

  .main__input,
.main__result {
    height: 60vh;
    width: 35vw;
  }
}
.btn__container {
  width: 80vw;
  justify-content: space-around;
}