* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;

  .heading {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .input {
      display: flex;
      justify-content: center;
      .main-content__input {
        text-align: center;
        font-size: 3em;
      }
    }

    .main-content__input,
    .main-content__result {
      height: 30vh;
      width: 40vw;
      background-color: cadetblue;
      margin: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .main-content__result {
      font-size: 3em;
      word-wrap: normal;
      word-break: break-all;
    }
  }
}
