@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #151515;
}
body .heading {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: blanchedalmond;
}
body .heading .heading__title {
  font-size: 2em;
  text-align: center;
}
body .heading .heading__subtitle {
  font-size: 1.5em;
  padding: 5px;
}
body .heading .heading__text {
  font-size: 1em;
  text-align: center;
}
body main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
body main .main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body main .main-content .main-content__input,
body main .main-content .main-content__result {
  height: 25vh;
  width: 80vw;
  background-color: cadetblue;
  margin: 10px;
  color: blanchedalmond;
  border: 2px solid blanchedalmond;
  text-align: center;
}
body main .main-content .main-content__input {
  font-size: 1.5em;
}
body main .main-content .main-content__result {
  font-size: 1.5em;
  word-wrap: normal;
  word-break: break-all;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .btn-container {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
body main .btn-container .main-content__btn {
  width: 100px;
  height: 50px;
  background-color: #176325;
  border-radius: 10px;
  font-weight: 400;
  color: blanchedalmond;
  font-size: 1em;
}

@media screen and (min-width: 768px) {
  body main .main-content .main-content__input,
body main .main-content .main-content__result {
    height: 30vh;
  }
}
@media screen and (min-width: 992px) {
  body main .main-content {
    flex-direction: row;
  }
  body main .main-content .main-content__input,
body main .main-content .main-content__result {
    height: 60vh;
    width: 35vw;
  }
  body main .btn-container {
    width: 80vw;
    justify-content: space-evenly;
  }
}