* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}
body .heading {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .main-content .input {
  display: flex;
  justify-content: center;
}
body .main-content .input .main-content__input {
  text-align: center;
  font-size: 3em;
}
body .main-content .main-content__input,
body .main-content .main-content__result {
  height: 30vh;
  width: 40vw;
  background-color: cadetblue;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .main-content .main-content__result {
  font-size: 3em;
  word-wrap: normal;
  word-break: break-all;
}